mixin office(items)
  each item in items
    +b.SECTION.contacts-section(id= item.id)
      .container
        +e.H2.title #{item.title}
        +e.UL.list
          +e.item
            +e.text 
              if item.fax
                +e.P.fax
                  a(href= "tel:" + item.fax, target="_blank") #{item.fax}
              +e.P.tel
                a(href= "tel:" + item.tel, target="_blank") #{item.tel}
          +e.item
            +e.text 
              +e.P.address #{item.address}
          +e.item
            +e.text 
              +e.P.hours Понедельник - пятница 
              +e.P.hours c
                span #{item.workFrom}
                =' до '
                span #{item.workTo}
                //- =' по местному времени'
          +e.item
            +e.text 
              +e.P.email
                a(href= "mailto:" + item.email, target="_blank") #{item.email}
      +e.map
        iframe(src= item.mapSource frameborder="0" style="border:0" allowfullscreen) 

